<header>
    <nav>
        <a href="/">LEDControl</a>
        <ul>
            <li><a href="/ledProfiles">LED Profiles</a></li>
            <li><a href="/noDeviceFound">Trouble Shooting</a></li>
        </ul>
    </nav>
</header>