<header>
    <nav>
        <a href="/">LEDControl</a>
        <br />
        <a href="/ledProfiles">LED Profiles</a>
        <br />
        <a href="/noDeviceFound">Trouble Shooting</a>
    </nav>
</header>