<header>
    <nav>
        <a href="/">
            <img src="/imgs/home.png" alt="HOME" class="header-img-button">
        </a>
        <br />
        <a href="/ledProfiles">
            <img src="/imgs/pallete.png" alt="Color Picker" class="header-img-button">
        </a>
        <br />
        <a href="/noDeviceFound">
            <img src="/imgs/troubleshoot.png" alt="Troubleshoot" class="header-img-button">
        </a>
    </nav>
</header>